header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */
a:link, a:visited, a:active{
  color: darkcyan;
  text-decoration: none;
}
a:hover{
  color: darkcyan;
  text-decoration: underline;
}
/* Task 2 */
button:hover, button:active{
  color: darkcyan;
  text-decoration: none;
  border: 1px solid darkcyan;
  cursor: pointer;
}
/* Task 3 */
p::first-letter{
  color: darkmagenta;
}

/* Task 4 */
h2 + p::first-line{
  color: darkorange;
}